#grid-container {
    margin: 0 3% 0 3% !important;
}

.book-handler {
    padding: 2%;
    background-image: url('https://res.cloudinary.com/kthln10/image/upload/v1661621261/banner_2_gpifbo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.tab-white {
    color: white !important;
}