.author-form-banner {
    height: 5%;
    background-color: #30415D;
    color: white;
    padding: 40px;
    margin: 0 0 5% 0;
}

.photo-banner-holder img {
    height: 100vh;
}

.form-grp-seperator {
    margin: 0 0 5% 0 !important;
}

.author-page-back-btn {
    background-color: #031424;
    padding: 10px;
}

.form-radio-buttons-label {
    text-align: left;
}

.genre-select-label {
    text-align: left;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}