.book-card {
    cursor: pointer;
    /* width: 100%;
    height: auto; */
}

.book-card-premium {
    border: 1.5px solid #ffd357;
    cursor: pointer;
}

.card-description {
    background-color: #30415D !important;
}

.card-description-premium {
    color: #d5b406 !important;
    font-size: 10px;
    padding-top: 10px;
    text-align: center;
}

.card-text {
    color: white !important;
}

.card-text-title {
    font-size: 13px !important;
    padding-top: 39px;
}

.card-text-author {
    font-size: 9px !important;
    line-height: 1.3 !important;
    padding-top: 10px;
}
