.book-card {
    cursor: pointer;
}

.book-card-premium {
    border: 5px solid gold;
    cursor: pointer;
}

.card-description {
    background-color: #30415D !important;
}

.card-description-premium {
    color: #d5b406 !important;
    font-size: 12px;
    padding-top: 10px;
    text-align: center;
}

.card-text {
    color: white !important;
}

.card-text-title {
    font-size: 1.2rem;
}

.card-text-author {
    font-size: .8rem !important;
    line-height: 1.4 !important;
}
